@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Playfair+Display&family=Roboto&display=swap');

/* Index.html */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}


#logo {
    float: left;
    font-size: 250%;
    margin-left: 50px;                       /* logo styling */
    line-height: 75px;
    font-family: 'Playfair Display', sans-serif;
}

#logo{
color: black;
}

#menu {
    font-size: 150%;
}

#menu li {
    color: black;
    float: right;                                               /* menu/ nav bar styling */
    margin-right: 50px;
    list-style: none;
    font-family: 'Playfair Display', sans-serif;
    padding-top: 1.15%;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #e55d5d;                                /* hover effect on nav bar */
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image1.jpg') no-repeat center center;
    background-size: cover;                                                    /* home page hero image */
    overflow: hidden;
}

#hero-text {
    font-family: 'Playfair Display', sans-serif;
    width: 100%;
    font-size: 260%;
    letter-spacing: 2px;
    margin-top: 125px;
    margin-bottom: 75px;
    text-align: center;
   
}

#hero2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#hero3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 500px;
   
}

#hero3 a:hover {
    border-bottom: 1px solid #e5cc5d;
}

#hero4 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

#hero5 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 200px;                                              /* hero 1-5 are the texts on the home page */
    color:#e5cc5d;
}

#hero4 a:hover {
    border-bottom: 1px solid #e5cc5d;
}

a{
    text-decoration: none;
    color: inherit;
}

.background-filter {
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);                        /* blurred glass effect over the hero image from glass ui*/
}

/* footer */
footer {
    height: 60px;
    width: 100%;
    
    background-color: rgb(203, 203, 203);
    padding: 1em;
    bottom: 0;
    right: 0;
    z-index: 3;
}                                                         

.social-media {
    color: black;
    text-align: center;
    word-spacing: 50px;
}

.social-media > li {
    font-size: 200%;
    margin: 1%;
    padding: 3%;                               /* social media icons */
    color: black;
    display: inline;
}


.footer-clear {
    text-align: center;
   border: 1px solid black;
}


/*showroom.html*/

.showroom-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
}

.showroom-photos img {
    width: 100%;
}


/*contact.html*/

#contact-image {
    height: 750px;
    width: 100%;                                                               /* background image on contact page */
    background: url('../images/hero-image2.1.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.contact-div {
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 25px;
}

.contact-div div{
    margin: auto;
}

#form-div {
    font-size: 150%;
    font-family: 'Playfair Display', sans-serif;
}

.bc {
    background-color:  rgb(203, 203, 203);
    text-align: center;
    text-decoration-line: underline;
}
#bottom-contact-text {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
}
  
/* about */

.filter {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.71);                /* blurred glass filter */
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
#y-image {
    background: url('../images/car-salesman_2.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#text {
    font-size: 150%;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-top: 100px;
}

#y-image-h2 {
    text-align: center;
    font-size: 200%;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

#y-image-h2 i {
    color: gold;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 5%;
    margin-top: 0px;
    margin-bottom: 10px;                /* this makes the youtube video responsive */
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-socials {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Playfair Display', sans-serif;
    background-color: whitesmoke;
}

/*media queries*/
@media screen and (max-width: 800px){
    .showroom-photos {
        column-count: 2;                  /* drops the showroom gallery to 2 cars per column */
    }

    .home{
        font-size: 150%;
    }                                                              

    #hero-text, #hero2, #hero3, #hero4, #hero5 {
        font-size: 75%;
    }

    #hero5 {
        text-transform: uppercase;
    }

    .social-media > li{
        font-size: 150%;
    }

    .header {
        clear: left;
        float: left;
    }

    #y-image-h2 {
        font-size: 100%;
    }

    .contact-div {
        display: flex;
        flex-direction: column;
        font-size: 55%;
        clear: both;
        gap: 50px;                   /* change flex direction to fit on smaller screens */
    }

    .contact-div map {
        font-size: 10%;
        height: 300px;
        width: 200px; 
        float: left;                 
    }

    #contact-image {
        height: 900px;
    }

    #text {
        font-size: 90%;
    }
    .header {
        font-size: 75%;
    }
}