@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 50px;
    line-height: 75px;
    font-family: 'Playfair Display', sans-serif;
}

#logo{
color: black;
}

#menu {
    font-size: 200%;
}

#menu li {
    color: black;
    float: right;
    margin-right: 50px;
    list-style: none;
    font-family: 'Playfair Display', sans-serif;
    padding-top: 1.15%;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #e55d5d;
}

#hero-image {
    height: 1200px;
    width: 100%;
    background: url('../images/hero-image1.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#hero-text {
    font-family: 'Playfair Display', sans-serif;
    font-size: 260%;
    letter-spacing: 2px;
    padding-top: 150px;
    float: left;
    margin-left: 150px;
}

#hero2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 150%;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    margin-top: 20%;
    margin-right: 20%;
}

#hero3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 150%;
    text-align: center;
}

#hero3 a:hover {
    border-bottom: 1px solid #e55d5d;
}

a{
    text-decoration: none;
    color: inherit;
}

#news {
 background-color: whitesmoke;
}

#news-header {
    text-align: center;
    font-size: 250%;
    line-height: 75px;
    font-family: 'Playfair Display', sans-serif;
}

#left-circle {
    float: left;
    margin-left: 50px;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
}

#left-circle-cover {
    background: url('../images/car-news.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}