@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,500&family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    background-color: white;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 50px;
    line-height: 75px;
    font-family: 'Playfair Display', sans-serif;
}

#logo{
color: black;
}

#menu {
    font-size: 200%;
}

#menu li {
    color: black;
    float: right;
    margin-right: 50px;
    list-style: none;
    font-family: 'Playfair Display', sans-serif;
    padding-top: 1.15%;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #e55d5d;
}

#hero-image {
    height: 1200px;
    width: 100%;
    background: url('../images/hero-image1.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

